# Xcode
GitStreakTests/
GitStreakUITests/x
*.pbxuser
project.xcworkspace
xcuserdata
*.mode1v3
*.mode2v3
*.perspectivev3
xcworkspace/xcuserdata
*.xccheckout
DerivedData/
build/
*.ipa
*.xcarchive

# Build files
*.o
*.obj
*.lo
*.tar.gz
*.tgz
*.zip
*.pch
*.dSYM
*.swp
*.DS_Store

# IDE-specific files
*.suo
*.user
*.csproj.user
*.unityproj
*.vs
*.VC.db
*.vc.db

# User-specific files
.DS_Store
*.log
*.profraw
*.profdata
*.prof
*.app

# Common temporary files
*.tmp
*.log
tmp/
Thumbs.db

# macOS specific files and directories
*.xcconfig
*.xcuserstate

# Package manager files
*.lock
package-lock.json
yarn.lock

#Local configuration files
.idea/
*.env
*.env.local
.env.development.local
.env.production.local
